<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Johan H. W. Basberg</string>
	<key>id</key>
	<string>B1A4E404-188D-4A73-87BE-6A95ECA9970D</string>
	<key>title</key>
	<string>Modern</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
